# emacs detritus
*~
*#

# ignore output of md 
README.html

# normally ignore output of xml2rfc conversion
# turn off for now

# multipart-form-data.txt
# multipart-form-data.html
# multipart-form-data.pdf


